<p>Hi Harjinder,</p>
<p>We have officially released our new product <b><%= @variant.name%></b>. Please check it out by clicking on below link </p>
<p><%= variant_url(@variant)%></p>

<p>Thanks and Regards</p>
<p>Team <b>Hagg</b></p>