
  <!-- body container -->
  <div id="home_container">
    <h1>About Us</h1>
    <p> We – <strong>HAGG MILL STORE PRIVATE LIMITED</strong>, are one of the leading Importers and Traders of all kinds of CNC/VMC tooling’s from 2004. Our target is to giving the best Quality and Best Price aid for all machine tool related Requirements. With an industry expertise 10 years, Our Products range from  Holding Systems for Conventional & CNC Machines, Precision cutting tools, Solid Carbide cutting tools, metal cutting tools. We cater to different tooling requirements of various industries in Turning /Milling as per their specific requirements. The custom tooling design cell at our facility is one of our support system. Our understanding of customer's requirement has enabled us to deliver the best tooling that they require to excel in their part of operations.<br>
      <br>
      We <strong>HAGG MILL STORE PRIVATE LIMITED</strong> , offers a complete range of tool holding systems AND Cutting tools for CNC/VMC machine Tools. We specialize in offering appropriate solutions for tooling problems to boost productivity. We aim at giving our customers precision, comfortable & innovative tool holding technology.<br>
      <br>
      For CNC and VMC :
      High Precision Tool Holders/Boring Bars, Ant Vibration Boring Bars, Threading Tool Holders/Boring Bars, Precision Collet Chucks ER series, Index able Drills, Bull Nose End Mills, Solid Carbide End Mills/Drills, SLA/FMC Adaptors, ER Collets, Precision Screws, KWFLK Tapping Chucks, Face Mill Holder, Torx Driver/Keys. <br>
      <br>
      We Offer Best Quality Precision ER Collets and Screws for Best Prices Suits in Indian market.<br>
      <br>
    </p>
    <ul>
      <li>
        <h3>ER ADAPTOR NUT</h3>
        <span><img src="images/er_adaptor_nut.jpg" alt="pro" /></span> <span class="readmore"><a href="#">Readmore...</a></span> </li>
        
<li>
        <h3>B TYPE TOOL HOLDER</h3>
        <span><img src="images/b_tool.jpg" alt="pro" /></span> <span class="readmore"><a href="#">Readmore...</a></span> </li>
        
<li>
        <h3>B TYPE TOOL HOLDER</h3>
        <span><img src="images/a_tool.jpg" alt="pro" /></span> <span class="readmore"><a href="#">Readmore...</a></span> </li>
        
        <li class="last">
        <h3>ER Collets</h3>
        <span><img src="images/er_collet.jpg" alt="pro" /></span> <span class="readmore"><a href="#">Readmore...</a></span> </li>
        
    </ul>
  </div>
