<!-- body container -->
  <div id="latest_container">
    <h1>Product</h1>
    
    <ul>
    <li>
    <img src="images/er_collet.jpg" alt="" />
<h3>ER Collets</h3>
<p>We sell high Quality 65 Mn spring steel Er collets Range starting from Er 8 to Er 40.<br>
<br>
<a href="#"><img src="images/add_cart.jpg" alt="" /></a></p>
    </li>
    
     <li>
    <img src="images/screw.jpg" alt="" />
<h3>Screw</h3>
<p>Precision screw available from Size M1.6 to M 6 in various Lenghts.<br>
<br>
<a href="#"><img src="images/add_cart.jpg" alt="" /></a></p>
    </li>
    
    <li style="border:none;">
    <img src="images/antivibration_boring_bars.jpg" alt="" />
<h3>Antivibration Boring Bars</h3>
<p>Antivibration Boring Bars for positive inserts from Dia 8 to Dia 25 recomended 5L/D.<br>
<br>
<a href="#"><img src="images/add_cart.jpg" alt="" /></a></p>
    </li>
    
    
    
    </ul>
    
    
  </div>
  <!-- body container --> 