<div class="mens">    
  <div class="main">
     <div class="wrap">
     	<ul class="breadcrumb breadcrumb__t"><a class="home" href="/">Home</a> / Hot Deals</ul>
		<div class="clear"></div>
		<div class="cont span_2_of_3">
			<!-- Logic for 3 pics in row -->
				<%j=0%>
				<%@products.each_with_index do |var,index|%>
					<%j= j+1%>
					<%if index!=0 and index%3==0 %>
						<div class="clear"></div>
						</div>
					<%end%>
					<%if index==0 or index%3==0 %><div class="top-box"><%end%>
					<div class="col_1_of_3 span_1_of_3"> 
						<a href=<%= variant_path(var)%>>
							<div class="inner_content clearfix">
								<div class="product_image">
									<img src=<%= var.photos.first.try(:img).try(:url)%> alt=""/>
								</div>
								<div class="price">
									<div class="cart-left">
										<p class="title"><%= var.name%></p>
									</div>
									<div class="cart-right"> </div>
									<div class="clear"></div>
								</div>				
							</div>
						</a>
					</div>
				<%end%>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>