<!-- body container -->
  <div id="home_container">
    <h1>Welcome To Our Site</h1>
    <p> We – <strong>HAGG MILL STORE PRIVATE LIMITED</strong>, are one of the leading Importers and Traders of all kinds of CNC/VMC tooling’s from 2004. Our target is to giving the best Quality and Best Price aid for all machine tool related Requirements. With an industry expertise 10 years, Our Products range from  Holding Systems for Conventional &amp; CNC Machines, Precision cutting tools, Solid Carbide cutting tools, metal cutting tools. We cater to different tooling requirements of various industries in Turning /Milling as per their specific requirements. The custom tooling design cell at our facility is one of our support system. Our understanding of customer's requirement has enabled us to deliver the best tooling that they require to excel in their part of operations.<br>
      <br>
      We <strong>HAGG MILL STORE PRIVATE LIMITED</strong> , offers a complete range of tool holding systems AND Cutting tools for CNC/VMC machine Tools. We specialize in offering appropriate solutions for tooling problems to boost productivity. We aim at giving our customers precision, comfortable & innovative tool holding technology.<br>
      <br>
     <p style="text-align:right"><a href="about.html">readmore...</a></p>
    </p>
    <ul>
      <li>
        <h3>Indexable Ballnose Cutter </h3>
        <span><img src="images/emrw.jpg" alt="pro" /></span> <span class="readmore"><a href="#">Readmore...</a></span> </li>
        
<li>
        <h3>Hard &amp; Grounded Shim</h3>
        <span><img src="images/pro1.jpg" alt="pro" /></span> <span class="readmore"><a href="#">Readmore...</a></span> </li>
        
<li>
        <h3>Indexable Endmill</h3>
        <span><img src="images/bap.jpg" alt="pro" /></span> <span class="readmore"><a href="#">Readmore...</a></span> </li>
        
        <li class="last">
        <h3>Carbide Endmill</h3>
        <span><img src="images/carbide_endmill.jpg" alt="pro" /></span> <span class="readmore"><a href="#">Readmore...</a></span> </li>
        
    </ul>
  </div>
  <!-- body container -->