  <!-- body container -->
  <div id="product_container">
    <h1>Product</h1>
    
    <ul>
<li class="border-1">
<span class="img-product">
<img src="product/1.jpg" alt="Ground Shim" />
</span>
    <h3>SER 2525 M 16</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;3062 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
<li class="border-1">
<span class="img-product">
<img src="product/2.jpg" alt="System clamps" />
</span>
    <h3>MILLING TOOLS</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;8000 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
<li class="border-1">
<span class="img-product">
<img src="product/3.jpg" alt="Er adaptor" />
</span>
    <h3>S32 MCLNL 12</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;3600 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>

<li>
<span class="img-product">
<img src="product/4.jpg" alt="B SYSTEM TURNING TOOL HOLDER" />
</span>
    <h3>TOOLING RANGE</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;5000 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
 
 <li class="border-1">
<span class="img-product">
<img src="product/5.jpg" alt="antibration_boring" />
</span>
    <h3>BAP400 50 22 4T</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;3258 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
 
 <li class="border-1">
<span class="img-product">
<img src="product/6.jpg" alt="A system tool holders"  />
</span>
    <h3>B TYPE TOOL HOLDER IN 2525 SHANK</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;2400 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>

 <li class="border-1">
<span class="img-product">
<img src="product/7.jpg" alt="ER SPANNER ER 32 UM TYPE" />
</span>
    <h3>TTER 2020 3</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;3364 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
 <li>
<span class="img-product">
<img src="product/8.jpg" alt="BT 40 ER 32 70" />
</span>
    <h3>EMRW C25 5R25 150</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;2198</p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
 
 
 <li class="border-1">
<span class="img-product">
<img src="product/9.jpg" alt="CARBIDE END MILL CUTTER DIA 12" />
</span>
    <h3>D2022Q SCLCL 09</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;2800 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
 
 
 <li class="border-1">
<span class="img-product">
<img src="product/10.jpg" alt="Bosch GSB 500 RE Power Tool Kit  Blue" />
</span>
    <h3>ER COLLETS ER 32</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;550 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
 
 <li class="border-1">
<span class="img-product">
<img src="product/11.jpg" alt="Bosch GSB 500 RE Power Tool Kit  Blue" />
</span>
    <h3>B TYPE CLAMP FOR WNMG 06</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;210</p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
 
 <li>
<span class="img-product">
<img src="product/ground_shim.jpg" alt="Bosch GSB 500 RE Power Tool Kit  Blue" />
</span>
    <h3>GROUNDED SHIMS</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;160</p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
 
 
 
 
 <li class="border-1">
<span class="img-product">
<img src="product/system_clamps.jpg" alt="System clamps" />
</span>
    <h3>A SYSTEM CLAMPS FOR TURNING TOOL HOLDERS</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;180 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
 
 <li class="border-1">
<span class="img-product">
<img src="product/er_adaptor.jpg" alt="Er adaptor" />
</span>
    <h3>ER ADAPTOR NUT ER 32</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;336 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
 
 <li>
<span class="img-product">
<img src="product/b_system.jpg" alt="B SYSTEM TURNING TOOL HOLDER" />
</span>
    <h3>B SYSTEM TURNING TOOL HOLDER</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;2400 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
 
 <li class="border-1">
<span class="img-product">
<img src="product/antibration_boring.jpg" alt="antibration_boring" />
</span>
    <h3>ANTIVIBRATION BORING BARS D20222 SCLC   09</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;2750 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
 
  <li class="border-1">
<span class="img-product">
<img src="product/a_system_tool.jpg" alt="A system tool holders"  />
</span>
    <h3>A system tool holders</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;2145 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
 
  <li class="border-1">
<span class="img-product">
<img src="product/er_spaner.jpg" alt="ER SPANNER ER 32 UM TYPE" />
</span>
    <h3>ER SPANNER ER 32 UM TYPE</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;618 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
 
  <li>
<span class="img-product">
<img src="product/12.jpg" alt="BT 40 ER 32 70" />
</span>
    <h3>BT 40 ER 32 70</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;2850 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li>
 
  <li class="border-1">
<span class="img-product">
<img src="product/carbide_end.jpg" alt="CARBIDE END MILL CUTTER DIA 12" />
</span>
    <h3>CARBIDE END MILL CUTTER DIA 12</h3>
    <p class="rupees"><img src="images/rupees_sym.png" alt="" />&nbsp;5278 </p>    
    <div class="cart">
    <a href="https://www.payumoney.com/store/buy/hagg"><img src="images/add_cart.jpg" alt="" /></a>
    </div>    
 </li> 
 </ul>

  </div>
