<div class="main">
	<div class="wrap">
		<ul class="breadcrumb breadcrumb__t"><a class="home" href="#">Home</a> / <a href="/contacts">Contacts</a> / Edit</ul>
		<div class="clear"></div>
		<div class="row">
			<div class="col-md-12">
				<!-- BEGIN PORTLET-->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Edit Contact Form
						</h3>
					</div>
					<div class="panel-body form">
						<%= form_for @contact, url: contact_path, method: :put, class: "form-horizontal form-bordered" do |f| %>
							<%= render "form", :f => f%>
						<%end%>
					</div>
				</div>
				<!-- END PANEL-->
			</div>
		</div>
	</div>
</div>