<div class="main">
	<div class="wrap">
		<ul class="breadcrumb breadcrumb__t"><a class="home" href="#">Home</a> / <a href="#">Dolor sit amet</a> / Lorem ipsum dolor sit amet</ul>
		<div class="clear"></div>
		<div class="row">
			<div class="col-md-12">
				<!-- BEGIN SAMPLE TABLE PORTLET-->
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">
							Products
						</h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-hover">
							<thead>
							<tr>
								<th>
									 #
								</th>
								<th>
									 Product
								</th>
								<th>
									 Description
								</th>
								<th>
									 Photos
								</th>
								<th>
									Actions
								</th>
							</tr>
							</thead>
							<tbody>
								<% @category.variants.each_with_index do |var,i|%>
									<tr>
										<td><%= i+1 %></td>
										<td><%= var.name %></td>
										<td><%= var.desc %></td>
										<td>
											<% var.photos.each do |pic|%>
												<%= image_tag pic.img.url(:thumb) %>
											<%end%>
										</td>
										<td>
											
										</td>
									</tr>
								<%end%>
							</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- END SAMPLE TABLE PORTLET-->
			</div>
		</div>
	</div>
</div>
